Repository subscriptions-project/swg-js, changes with the owners that docs/CODEOWNERS names for each.
All owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

docs/CODEOWNERS:

src/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
third_party/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
src/api/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
src/runtime/pay*.js @chrisantaki @younmi-park @jpettitt @justinchou-google @mhkawano @Wayne-X
docs/CODEOWNERS @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X

only update logevent for now
  src/runtime/auto-prompt-manager-test.js
  src/runtime/client-event-manager-test.js
  src/runtime/client-event-manager.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update tests
  demos/public/autoprompt-paywalled.html
  src/runtime/audience-action-flow-test.js
  src/runtime/auto-prompt-manager-test.js
  src/runtime/client-event-manager-test.js
  src/runtime/client-event-manager.ts
  src/runtime/runtime-test.js
  src/utils/survey-utils-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add logging info for inline CTA
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add console logging for inline CTA
  demos/public/autoprompt-paywalled.html
  src/runtime/basic-runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

remove demo change
  demos/public/autoprompt-paywalled.html
Owners: none

change logging
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add unit test
  demos/public/autoprompt-paywalled.html
  src/runtime/analytics-service-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

change tests
  src/runtime/analytics-service-test.js
  src/runtime/analytics-service.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

change log to warn
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add console log for inline CTA (#3794)
  src/runtime/basic-runtime.ts
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

trim config id for inline CTA
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

remove excessive warning
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update logic
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

Trim config id for inline CTA (#3795)
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

Adding removal of potential curly quotes and single quotes
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

small fix
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Adding removal of potential curly quotes and single quotes for inline (#3796)
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Close CTA on ad cancel
  src/runtime/audience-action-flow-test.js
  src/runtime/audience-action-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Close old view on ad cancel (#3800)
  src/runtime/audience-action-flow-test.js
  src/runtime/audience-action-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add cta mode in event params
  src/proto/api_messages-test.js
  src/proto/api_messages.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

unit test
  src/utils/url-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add cta mode in event params
  src/proto/api_messages-test.js
  src/proto/api_messages.ts
  src/utils/url-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add cta mode in event params (#3801)
  src/proto/api_messages-test.js
  src/proto/api_messages.ts
  src/utils/url-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add event params logging for survey data transfer
  src/runtime/audience-action-flow.ts
  src/runtime/inline-cta-api.ts
  src/utils/survey-utils-test.js
  src/utils/survey-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add unit tests
  src/utils/survey-utils-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update logic
  src/utils/survey-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Log inline CTA event params for Survey data transfer event (#3805)
  src/runtime/audience-action-flow.ts
  src/runtime/inline-cta-api.ts
  src/utils/survey-utils-test.js
  src/utils/survey-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add cta mode to google analytics event
  src/api/client-event-manager-api.ts
  src/runtime/google-analytics-event-listener.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add enum to string map
  src/runtime/google-analytics-event-listener.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add unit tests
  src/api/client-event-manager-api.ts
  src/runtime/google-analytics-event-listener-test.js
  src/runtime/google-analytics-event-listener.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add cta mode to google analytics (#3806)
  src/api/client-event-manager-api.ts
  src/runtime/google-analytics-event-listener-test.js
  src/runtime/google-analytics-event-listener.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add cta mode event params for payflow actions
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @younmi-park, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

implements Free Access API
  src/api/free-access-api.ts
  src/api/subscriptions.ts
  src/runtime/free-access-test.js
  src/runtime/free-access.ts
  src/runtime/location-provider.ts
  src/runtime/runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

linter fixes
  src/api/free-access-api.ts
  src/runtime/free-access-test.js
  src/runtime/free-access.ts
  src/runtime/location-provider.ts
  src/runtime/runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

lint fix
  src/runtime/free-access-test.js
  src/runtime/free-access.ts
  src/runtime/runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

minor formatting
  src/runtime/location-provider.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

removed superflous function
  src/runtime/free-access.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add unit test for test coverage
  src/api/subscriptions.ts
  src/runtime/runtime-test.js
  src/runtime/runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

more code cov fixes
  src/runtime/runtime-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

fix ESLintError
  src/runtime/runtime-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X
