Repository subscriptions-project/swg-js, changes with the owners that docs/CODEOWNERS names for each.
All owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76, @younmi-park

Migrate `src/model/page-config-writer` to TypeScript
  src/model/page-config-writer.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Migrate `src/model/page-config-resolver` to TypeScript
  src/model/page-config-resolver.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Remove extra code
  src/model/page-config-writer.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Address feedback
  src/api/client-event-manager-api.ts
  src/api/deferred-account-creation.ts
  src/api/entitlements.ts
  src/runtime/basic-runtime-test.js
  src/runtime/runtime-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Address more comments
  src/api/subscriptions.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Build: Disable property name mangling
  vite.config.js
Owners: none

Build: Disable property name mangling (#2867)
  vite.config.js
Owners: none

Build: Disable TS `useDefineForClassFields` compiler options and bring back property renaming
  tsconfig.json
  vite.config.js
Owners: none

Build: Disable TS `useDefineForClassFields` compiler options and bring back property renaming (#2869)
  tsconfig.json
  vite.config.js
Owners: none

Migrate `src/components/activities` to TypeScript
  src/@types/web-activities/activity-ports.d.ts
  src/components/activities.ts
  src/runtime/deps.js
  src/runtime/deps.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Cleanup
  src/model/page-config-resolver.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Use non-null assertion operator
  src/model/page-config-resolver.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Improve coverage
  src/model/page-config-resolver-test.js
  src/model/page-config-resolver.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Add survey events to audience activities allowlist
  src/runtime/audience-activity-listener.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Addressing comments
  src/api/basic-subscriptions.ts
  src/api/client-event-manager-api.ts
  src/api/deferred-account-creation.ts
  src/api/entitlements.ts
  src/api/subscriptions.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Migrate `src/api` to TypeScript (#2860)
  src/api/basic-subscriptions.ts
  src/api/client-event-manager-api.ts
  src/api/deferred-account-creation.ts
  src/api/entitlements.ts
  src/api/subscribe-response.ts
  src/api/subscriptions.js
  src/api/subscriptions.ts
  src/runtime/basic-runtime-test.js
  src/runtime/runtime-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Migrate `src/model/page-config-writer` to TypeScript (#2865)
  src/model/page-config-writer.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Define ActivityResult
  src/@types/web-activities/activity-ports.d.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Update types
  src/@types/web-activities/activity-ports.d.ts
  src/components/activities.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Update comment
  src/runtime/deps.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Migrate `src/runtime/deps` to TypeScript
  src/runtime/deps.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Ignore any warnings
  src/runtime/deps.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Fix tests
  src/utils/activity-utils-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Update defs
  src/@types/web-activities/activity-ports.d.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Order imports
  src/components/activities.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Update tests
  src/runtime/client-config-manager-test.js
  src/runtime/login-notification-api-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Revert "Fix tests"
  src/utils/activity-utils-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Revert "Update tests"
  src/runtime/client-config-manager-test.js
  src/runtime/login-notification-api-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Add mocks for unit tests
  src/runtime/audience-action-flow-test.js
  src/runtime/auto-prompt-manager-test.js
  src/runtime/basic-runtime-test.js
  src/runtime/button-api-test.js
  src/runtime/client-config-manager-test.js
  src/runtime/contributions-flow-test.js
  src/runtime/deferred-account-flow-test.js
  src/runtime/entitlements-manager-test.js
  src/runtime/google-analytics-event-listener-test.js
  src/runtime/link-accounts-flow-test.js
  src/runtime/login-notification-api-test.js
  src/runtime/login-prompt-api-test.js
  src/runtime/meter-toast-api-test.js
  src/runtime/mini-prompt-api-test.js
  src/runtime/offers-flow-test.js
  src/runtime/pay-flow-test.js
  src/runtime/wait-for-subscription-lookup-api-test.js
  src/ui/toast-test.js
  test/mock-activity-port.js
  test/mock-deps.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76, @younmi-park

Fix lint issues
  src/runtime/meter-toast-api-test.js
  test/mock-activity-port.js
  test/mock-deps.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Use mock
  src/utils/activity-utils-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Add license
  test/mock-activity-port.js
  test/mock-deps.js
Owners: none

Remove extra line
  src/model/page-config-resolver.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Migrate `src/model/page-config-resolver` to TypeScript (#2866)
  src/model/page-config-resolver-test.js
  src/model/page-config-resolver.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Improve coverage in `src/api/subscribe-response`
  src/api/subscribe-response-test.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Remove private fields
  src/@types/web-activities/activity-ports.d.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Change mocks to TS
  test/mock-activity-port.ts
  test/mock-deps.ts
Owners: none

Rename DepsDef to Deps
  src/components/activities.ts
  src/runtime/analytics-service.js
  src/runtime/audience-action-flow.js
  src/runtime/audience-activity-listener.js
  src/runtime/auto-prompt-manager.js
  src/runtime/basic-runtime.js
  src/runtime/button-api.js
  src/runtime/client-config-manager.js
  src/runtime/contributions-flow.js
  src/runtime/deferred-account-flow.js
  src/runtime/deps.ts
  src/runtime/entitlements-manager.js
  src/runtime/google-analytics-event-listener.js
  src/runtime/link-accounts-flow.js
  src/runtime/logger.js
  src/runtime/login-notification-api.js
  src/runtime/login-prompt-api.js
  src/runtime/meter-toast-api.js
  src/runtime/mini-prompt-api.js
  src/runtime/offers-flow.js
  src/runtime/pay-client.js
  src/runtime/pay-flow.js
  src/runtime/propensity-server.js
  src/runtime/propensity.js
  src/runtime/runtime.js
  src/runtime/smart-button-api.js
  src/runtime/subscription-linking-flow.js
  src/runtime/wait-for-subscription-lookup-api.js
  src/ui/toast.js
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76, @younmi-park

Migrate `src/ui/activity-iframe-view` and `src/utils/activity-utils` to TypeScript
  src/@types/web-activities/activity-ports.d.ts
  src/components/view.ts
  src/ui/activity-iframe-view.js
  src/ui/activity-iframe-view.ts
  src/utils/activity-utils.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

Sort imports
  src/ui/activity-iframe-view.ts
Owners: @chrisantaki, @fikus, @jpettitt, @hartmannr76

docs/CODEOWNERS:

src/ @chrisantaki @fikus @jpettitt @hartmannr76
third_party/ @chrisantaki @fikus @jpettitt @hartmannr76
src/api/ @chrisantaki @fikus @jpettitt @hartmannr76
src/runtime/pay*.js @chrisantaki @fikus @hartmannr76 @younmi-park @jpettitt
docs/CODEOWNERS @chrisantaki @fikus @jpettitt @hartmannr76
