Repository subscriptions-project/swg-js, changes with the owners that docs/CODEOWNERS names for each.
All owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

Only transition animate dialog on center position case (#3762)
  src/components/dialog.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Merge alternate action and monetization function param
  src/runtime/audience-action-flow-test.js
  src/runtime/audience-action-flow.ts
  src/runtime/auto-prompt-manager-test.js
  src/runtime/auto-prompt-manager.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Merge onAlternateAction and monetizationFunction (#3765)
  src/runtime/audience-action-flow-test.js
  src/runtime/audience-action-flow.ts
  src/runtime/auto-prompt-manager-test.js
  src/runtime/auto-prompt-manager.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

handle offer selection for inline subscription cta
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
  src/runtime/offers-flow.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

handle offer selection for inline subscription cta (#3766)
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
  src/runtime/offers-flow.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add isMonetizationClosable_
  src/runtime/auto-prompt-manager.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add default case for isMonetizationClosable_
  src/runtime/auto-prompt-manager.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add isMonetizationClosable_ (#3768)
  src/runtime/auto-prompt-manager.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Render pay confirmation iframe inline
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow.ts
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

remove duplicates
  src/runtime/inline-cta-api.ts
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add unit tests
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
  src/utils/cta-utils-test.js
Owners: @chrisantaki, @younmi-park, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Render pay confimation iframe for inline CTA (#3769)
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

Add inline CTA context for action logging
  src/runtime/analytics-service-test.js
  src/runtime/analytics-service.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update unit test
  src/runtime/analytics-service-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update unit test
  src/runtime/analytics-service-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update unit test
  src/runtime/analytics-service-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

unit test
  src/runtime/analytics-service-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add inline CTA context for action logging (#3771)
  src/runtime/analytics-service-test.js
  src/runtime/analytics-service.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

render pay confirmation iframe inline where the code snippet is
  src/runtime/contributions-flow.ts
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

add unit tests
  src/runtime/pay-flow-test.js
Owners: @chrisantaki, @younmi-park, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

sort import
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

render pay confirmation iframe inline where the code snippet is (#3777)
  src/runtime/contributions-flow.ts
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

not use event manager to log inline cta events
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

not use event manager to log inline cta events (#3780)
  src/runtime/inline-cta-api-test.js
  src/runtime/inline-cta-api.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

bake in dismissibility experiment
  src/runtime/auto-prompt-manager-test.js
  src/runtime/auto-prompt-manager.ts
  src/runtime/experiment-flags.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

bump webdriver ver
  package-lock.json
  package.json
Owners: none

rename createarticle fn
  src/runtime/auto-prompt-manager-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

bake in dismissibility experiment (#3781)
  package-lock.json
  package.json
  src/runtime/auto-prompt-manager-test.js
  src/runtime/auto-prompt-manager.ts
  src/runtime/experiment-flags.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Set payconfirmation iframe width to be 100%
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Set pay confirmation iframe width to be 100% (#3785)
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add unit test
  src/runtime/pay-flow-test.js
Owners: @chrisantaki, @younmi-park, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add unit test for https://github.com/subscriptions-project/swg-js/pull/3785 (#3786)
  src/runtime/pay-flow-test.js
Owners: @chrisantaki, @younmi-park, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Change swg-disable-scroll to apply to the root instead of body
  src/components/dialog-test.js
  src/components/dialog.ts
  src/ui/ui-css.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add inline cta label for contribution logging
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add inline cta label for contribution logging (#3791)
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Change swg-disable-scroll to apply to the root instead of body (#3790)
  src/components/dialog-test.js
  src/components/dialog.ts
  src/ui/ui-css.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add labels for logging
  src/api/client-event-manager-api.ts
  src/components/activities.ts
  src/runtime/analytics-service.ts
  src/runtime/auto-prompt-manager-test.js
  src/runtime/client-event-manager-test.js
  src/runtime/client-event-manager.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Delay the rendering of inline cta incase inline cta code snippet is rendered after swgjs code snippet
  src/runtime/basic-runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update delay time
  src/runtime/basic-runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Delay the rendering of inline CTA (#3792)
  src/runtime/basic-runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

docs/CODEOWNERS:

src/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
third_party/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
src/api/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
src/runtime/pay*.js @chrisantaki @younmi-park @jpettitt @justinchou-google @mhkawano @Wayne-X
docs/CODEOWNERS @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
