Repository subscriptions-project/swg-js, changes with the owners that docs/CODEOWNERS names for each.
All owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X, @younmi-park

code review fix
  src/runtime/free-access.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

update for coverage
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
Owners: @chrisantaki, @younmi-park, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Implements Free Access API (#3808)
  src/api/free-access-api.ts
  src/api/subscriptions.ts
  src/runtime/free-access-test.js
  src/runtime/free-access.ts
  src/runtime/location-provider.ts
  src/runtime/runtime-test.js
  src/runtime/runtime.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

add cta mode event params for payflow actions (#3807)
  src/runtime/pay-flow-test.js
  src/runtime/pay-flow.ts
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @younmi-park, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

rebase api_messages
  src/proto/api_messages-test.js
  src/proto/api_messages.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

rebase api_messages
  src/proto/api_messages-test.js
  src/proto/api_messages.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

pass purchaseUnavailableRegion in contribution
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

rebase api_messages (#3810)
  src/proto/api_messages-test.js
  src/proto/api_messages.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add Free Access events
  src/proto/api_messages.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

pass purchaseUnavailableRegion in contribution (#3812)
  src/utils/cta-utils-test.js
  src/utils/cta-utils.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add Free Access events (#3815)
  src/proto/api_messages.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add AdSense support to enterprise
  demos/public/prod/enterprise/enterprise-funnel.html
  src/api/available-intervention-test.js
  src/api/available-intervention.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Revert pub change for test site
  demos/public/prod/subscriptions/autoprompt-paywalled.html
Owners: none

Add entitlements manager tests
  src/runtime/entitlements-manager-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Apply linter
  src/runtime/entitlements-manager-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Add AdSense support to enterprise (#3816)
  demos/public/prod/enterprise/enterprise-funnel.html
  demos/public/prod/subscriptions/autoprompt-paywalled.html
  src/api/available-intervention-test.js
  src/api/available-intervention.ts
  src/runtime/entitlements-manager-test.js
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Revert unintentional changes to demo page pub id
  demos/public/prod/enterprise/enterprise-funnel.html
  demos/public/prod/subscriptions/autoprompt-paywalled.html
Owners: none

Revert unintentional changes to demo page pub id (#3818)
  demos/public/prod/enterprise/enterprise-funnel.html
  demos/public/prod/subscriptions/autoprompt-paywalled.html
Owners: none

Make google_adtest configurable through query param
  src/runtime/audience-action-flow-test.js
  src/runtime/audience-action-flow.ts
  src/utils/url-test.js
  src/utils/url.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

Make google_adtest configurable through query param (#3820)
  src/runtime/audience-action-flow-test.js
  src/runtime/audience-action-flow.ts
  src/utils/url-test.js
  src/utils/url.ts
Owners: @chrisantaki, @jpettitt, @justinchou-google, @mhkawano, @Wayne-X

docs/CODEOWNERS:

src/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
third_party/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
src/api/ @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
src/runtime/pay*.js @chrisantaki @younmi-park @jpettitt @justinchou-google @mhkawano @Wayne-X
docs/CODEOWNERS @chrisantaki @jpettitt @justinchou-google @mhkawano @Wayne-X
